BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
AlignEscapedNewlines: DontAlign
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
AllowShortLambdasOnASingleLine: Empty # or Empty or None or Inline
BraceWrapping:
  AfterFunction: true
  BeforeLambdaBody: true
  AfterControlStatement: true
  # AfterNamespace: true
BinPackArguments: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left